<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ingest" data-toc-modified-id="Ingest-1">Ingest</a></span></li><li><span><a href="#Inspect-and-Clean" data-toc-modified-id="Inspect-and-Clean-2">Inspect and Clean</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Looking-for-duplicates" data-toc-modified-id="Looking-for-duplicates-2.0.1">Looking for duplicates</a></span></li><li><span><a href="#Change-datatypes" data-toc-modified-id="Change-datatypes-2.0.2">Change datatypes</a></span></li><li><span><a href="#Change-column-names" data-toc-modified-id="Change-column-names-2.0.3">Change column names</a></span></li><li><span><a href="#Manage-missing-data" data-toc-modified-id="Manage-missing-data-2.0.4">Manage missing data</a></span></li><li><span><a href="#Imputing-missing-values" data-toc-modified-id="Imputing-missing-values-2.0.5">Imputing missing values</a></span></li></ul></li><li><span><a href="#Check-categorical-data" data-toc-modified-id="Check-categorical-data-2.1">Check categorical data</a></span><ul class="toc-item"><li><span><a href="#Using-visuals-to-get-a-sense-of-the-data" data-toc-modified-id="Using-visuals-to-get-a-sense-of-the-data-2.1.1">Using visuals to get a sense of the data</a></span><ul class="toc-item"><li><span><a href="#Categorical-data" data-toc-modified-id="Categorical-data-2.1.1.1">Categorical data</a></span></li></ul></li><li><span><a href="#Examine-categorical-data-a-little-more-closely" data-toc-modified-id="Examine-categorical-data-a-little-more-closely-2.1.2">Examine categorical data a little more closely</a></span></li><li><span><a href="#Dropping-columns-and-rows" data-toc-modified-id="Dropping-columns-and-rows-2.1.3">Dropping columns and rows</a></span><ul class="toc-item"><li><span><a href="#Quantitative-data" data-toc-modified-id="Quantitative-data-2.1.3.1">Quantitative data</a></span></li></ul></li><li><span><a href="#Removing-outliers" data-toc-modified-id="Removing-outliers-2.1.4">Removing outliers</a></span></li></ul></li></ul></li><li><span><a href="#Exercise---30-minutes" data-toc-modified-id="Exercise---30-minutes-3">Exercise - 30 minutes</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#See-Beer-Notebook---Part-1" data-toc-modified-id="See-Beer-Notebook---Part-1-3.0.1">See Beer Notebook - Part 1</a></span></li></ul></li></ul></li></ul></div>

# Ingest

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from numpy.random import randn

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/jimcody2014/python-data/main/diabetes_inspect.csv')
df.head()

In [ ]:
# A cursory look at the data
df.shape

# Inspect and Clean

### Looking for duplicates

In [ ]:
# checking for duplicates
df.loc[df.duplicated()]# This will drop all duplicate rows

In [ ]:
df.drop_duplicates(keep = 'first', inplace = True) 

# keep - which duplicate to keep, default is none!

df.loc[df.duplicated()]

### Change datatypes

In [ ]:
# Are we ok with the data types?
df.info()

In [ ]:
# Change data type

df['encounter_id'] = df['encounter_id'].astype(str)
df['patient_nbr'] = df['patient_nbr'].astype(str)
df['admission_type_id'] = df['admission_type_id'].astype(str)
df['discharge_disposition_id'] = df['discharge_disposition_id'].astype(str)
df['admission_source_id'] = df['admission_source_id'].astype(str)
df.info()

# vaccines['series_complete_pop_pct'] = pd.to_numeric(vaccines['series_complete_pop_pct']).astype(int)

### Change column names

In [ ]:
# Rename a few columns

short_names = {'admission_type_id':'admin_type', # creating a dict of the names to be changed
               'discharge_disposition_id':'discharge_dispo',
               'admission_source_id':'admin_source',
               'num_lab_procedures':'lab_procedures',
               'num_procedures':'procedures'}

df.rename(columns=short_names, inplace=True) # passing the dict to the rename method
                                             # inplace=True
df.info()

######## Appendix A has an explanation of 'inplace'

### Manage missing data

In [ ]:
# Just listing the columns and how many rows 
# for each have a missing value.

df.isnull().sum()

In [ ]:
df_null = df.isna().mean().round(4) * 100

df_null.sort_values(ascending=False).head()

In [ ]:
# Plotting missing values

sns.heatmap(df.isnull(), cbar=False)

### Imputing missing values

In [ ]:
a = df['num_medications'].describe()
b = df['num_medications'].median()
c = df['num_medications'].mode()
print(a)
print()
print(b)
print()
print(c)

In [ ]:
# Fill missing values of num_medications with the average of num_medications (mean)

#df[ 'num_medications' ] = df.num_medications.fillna( df.num_medications.mean() )

df.num_medications.fillna( df.num_medications.mean(),inplace=True )

df_null = df.isna().mean().round(4) * 100
df_null.sort_values(ascending=False).head()

# Can be filled with an arbitrary number
# df.num_medications.fillna( 101,inplace=True )

# backward, forward ->  df.fillna(method='bfill') , df.fillna(method='ffill')

## Check categorical data

In [ ]:
sns.countplot(x='gender', data=df)

In [8]:
df['gender'].nunique()

6

In [ ]:
df['gender'].unique()

In [ ]:
df['gender'].value_counts()

In [ ]:

df['weight'] = df['weight'].replace('?', pd.NA)
df.isnull().sum()

In [ ]:
df.loc[df.gender == 'M','gender']='Male'
df.head()

In [7]:
# Change/Fix some of the data values

df['gender'] = df['gender'].replace({'M':'Male', 'Mle':'Male', 'F':'Female'})
#df.head()

In [ ]:
# Inconsistent capitalization
# Apply a function along an axis of the DataFrame.

df['gender'] = df['gender'].apply(lambda x:x.lower())
df.head()

In [ ]:
sns.countplot(x='gender', data=df)

In [ ]:
x = df.loc[df.gender == 'unknown/invalid','gender']
y = df.loc[df.gender == '?','gender']
print(x)
print(y)

In [ ]:
df.iloc[11]

In [ ]:
df['gender'] = df['gender'].replace({'?':'NaN', 'unknown/invalid':'male'})
df.head()

In [ ]:
# Change a value for an entire column
#df.loc[:,'discharge_dispo'] = 99   
#df.loc[64410] = 99   # Change a value for an entire row
#df.head()

### Using visuals to get a sense of the data

In [ ]:
df.info()

#### Categorical data

In [ ]:
# Create a bar chart for each categorical variables to see the distribution of the data
plt.figure(figsize = (20,20))
plt.subplot(3,3,1)
sns.countplot(x="race", data=df)
plt.subplot(3,3,2)
sns.countplot(x="age", data=df)
plt.subplot(3,3,3)
sns.countplot(x="gender", data=df)
plt.subplot(3,3,4)
sns.countplot(x="admin_type", data=df)
plt.subplot(3,3,5)
sns.countplot(x="admin_source", data=df)
plt.subplot(3,3,6)
sns.countplot(x="discharge_dispo", data=df)
plt.subplot(3,3,7)
sns.countplot(x="medical_specialty", data=df)
plt.subplot(3,3,8)
sns.countplot(x="weight", data=df)
plt.subplot(3,3,9)
sns.countplot(x="payer_code", data=df)

plt.suptitle('Categorical Plotting')
plt.show()

In [ ]:
# Create a bar chart for each categorical variables to see the distribution of the data
plt.figure(figsize = (20,20))
plt.subplot(521)
sns.countplot(x="race", data=df)
plt.subplot(522)
sns.countplot(x="age", data=df)
plt.subplot(523)
sns.countplot(x="gender", data=df)
plt.subplot(524)
sns.countplot(x="admin_type", data=df)
plt.subplot(525)
sns.countplot(x="admin_source", data=df)
plt.subplot(526)
sns.countplot(x="discharge_dispo", data=df)
plt.subplot(527)
sns.countplot(x="medical_specialty", data=df)
plt.subplot(528)
sns.countplot(x="weight", data=df)
plt.subplot(529)
sns.countplot(x="payer_code", data=df)

plt.suptitle('Categorical Plotting')
plt.show()

### Examine categorical data a little more closely

In [ ]:
for column in df.columns:         # df.columns is a data frame attribute
    print(f"{column}: Number of unique values {df[column].nunique()}")
    print("==========================================================")
    
    
# f means Formatted string literals

In [14]:
object_col = []
for column in df.columns:
    if df[column].dtype == object and len(df[column].unique()) <= 30:
        object_col.append(column)
        print(f"{column} : {df[column].unique()}")
        print(df[column].value_counts())
        print("====================================")

race : ['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']
Caucasian          76099
AfricanAmerican    19209
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
====================================
gender : ['Female' 'female' 'Male' 'male' 'Unknown/Invalid']
Female             54706
Male               47054
Unknown/Invalid        3
female                 1
male                   1
Name: gender, dtype: int64
====================================
age : [nan '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)' '[70-80)' '[80-90)'
 '[90-100)' '[10-20)' '[0-10)']
[70-80)     26069
[60-70)     22482
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       690
[0-10)        160
Name: age, dtype: int64
====================================
weight : ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
?            98568
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64
====================================
admission_type_id : ['1' '2' '3' '6' '4' '5' '8' '7']
1    53991
3    18869
2    18479
6     5290
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64
====================================
discharge_disposition_id : ['1' '3' '6' '2' '5' '11' '7' '25' '10' '4' '14' '18' '8' '13' '12' '16'
 '17' '22' '23' '9' '20' '15' '24' '28' '19' '27']
1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      988
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64
====================================
admission_source_id : ['7' '2' '4' '1' '5' '6' '20' '3' '17' '8' '9' '14' '10' '22' '11' '25'
 '13']
7     57495
1     29564
17     6781
4      3186
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
14        2
11        2
25        2
13        1
Name: admission_source_id, dtype: int64
====================================
payer_code : ['?' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']
?     40255
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64
====================================
max_glu_serum : ['None' '>300' 'Norm' '>200']
None    96419
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64
====================================
A1Cresult : ['None' '>7' '>8' 'Norm']
None    84747
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
====================================
metformin : ['No' 'Steady' 'Up' 'Down']
No        81777
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
====================================
glimepiride : ['No' 'Steady' 'Down' 'Up']
No        96574
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
====================================
glipizide : ['No' 'Steady' 'Up' 'Down']
No        89079
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64
====================================
glyburide : ['No' 'Steady' 'Down' 'Up']
No        91116
Steady     9274
Up          811
Down        564
Name: glyburide, dtype: int64
====================================
tolbutamide : ['No' 'Steady']
No        101742
Steady        23
Name: tolbutamide, dtype: int64
====================================
miglitol : ['No' 'Steady' 'Down' 'Up']
No        101727
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64
====================================
insulin : ['Up' 'No' 'Steady' 'Down']
No        47383
Steady    30848
Down      12218
Up        11316
Name: insulin, dtype: int64
====================================
glyburide-metformin : ['No' 'Steady' 'Down' 'Up']
No        101059
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64
====================================
glipizide-metformin : ['No' 'Steady']
No        101752
Steady        13
Name: glipizide-metformin, dtype: int64
====================================
glimepiride-pioglitazone : ['No' 'Steady']
No        101764
Steady         1
Name: glimepiride-pioglitazone, dtype: int64
====================================
diabetesMed : ['Yes' 'No']
Yes    78362
No     23403
Name: diabetesMed, dtype: int64
====================================
readmitted : ['>30' 'NO' '<30']
NO     54864
>30    35545
<30    11356
Name: readmitted, dtype: int64
====================================

In [11]:
df['payer_code'].nunique()

18

In [12]:
df['payer_code'].value_counts()

?     40255
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64

In [13]:
df.loc[df['payer_code']!= 'MC']

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide,glyburide,tolbutamide,miglitol,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,diabetesMed,readmitted
1,149190,55629189,Caucasian,Female,NaN,?,1,1,7,3,...,No,No,No,No,Up,No,No,No,Yes,>30
2,64410,86047875,AfricanAmerican,female,[20-30),?,1,1,7,2,...,Steady,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,No,No,No,Up,No,No,No,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,Steady,No,No,No,Steady,No,No,No,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,No,No,No,Steady,No,No,No,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101756,443842070,140199494,Other,Female,[60-70),?,1,1,7,2,...,No,No,No,No,Steady,No,No,No,Yes,>30
101757,443842136,181593374,Caucasian,Female,[70-80),?,1,1,7,5,...,No,No,No,No,Steady,No,No,No,Yes,NO
101760,443847176,50375628,AfricanAmerican,Female,[60-70),?,1,1,7,6,...,No,No,No,No,Down,No,No,No,Yes,>30
101765,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO
101766,443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [ ]:
df['medical_specialty'].nunique()

In [ ]:
df['medical_specialty'].value_counts()

In [ ]:
df['weight'].nunique()

In [ ]:
df['weight'].value_counts()

### Dropping columns and rows

In [ ]:
df.shape

In [ ]:
# Remove a single column
df = df.drop('payer_code',axis=1)  # Axis=1 means drop the column
df = df.drop('weight',axis=1)  

# inplace=True not used so columns still exist. Just not in this instance.  
# Fix that.

In [ ]:
# Remove multiple columns

# glyburide-metformin       
# glipizide-metformin       
# glimepiride-pioglitazone

drop_columns = {'medical_specialty','glyburide-metformin','glipizide-metformin',
                'glimepiride-pioglitazone'}
df = df.drop(columns = drop_columns) # inplace=True not used so columns still exist. 
                                     # Just not in this instance.
#df.head()

In [9]:
# Delete by selecting rows not equal to the condition
df = df.loc[df['age']!= 'xyz']
df = df.loc[df.gender != '?']
#df = df.loc[df['gender']!='?']
#df.shape

In [ ]:
no_age = df[df['age'].isnull()].index
#no_age
df = df.drop(no_age, axis = 0)   # axis = 0 means drop the row
df.shape

#### Quantitative data

In [ ]:
# Histograms

plt.figure(figsize = (20,20))
plt.subplot(521)
sns.histplot(data=df, x='time_in_hospital', binwidth = 1)
plt.subplot(522)
sns.histplot(data=df, x='lab_procedures', bins=25)
plt.subplot(523)
sns.histplot(data=df, x='procedures', binwidth = 1)
plt.subplot(524)
sns.histplot(data=df, x='num_medications', binwidth = 2)
plt.subplot(525)
sns.histplot(data=df, x='number_outpatient', binwidth = 2)
plt.subplot(526)
sns.histplot(data=df, x='number_inpatient', binwidth = 2)
plt.subplot(527)
sns.histplot(data=df, x='number_emergency', binwidth = 2)


plt.suptitle('Histograms')
plt.show()

In [ ]:
# Pairplot to see the big picture
sns.pairplot(df)

In [ ]:
sns.pairplot(df, hue = 'gender', corner = True)

In [ ]:
sns.pairplot(df,
             x_vars=['lab_procedures', 'procedures', 'num_medications'],
             y_vars=['time_in_hospital','number_outpatient','number_emergency','number_inpatient' ])

In [ ]:
# Correlations
df2 = df.corr()
df2

In [ ]:
plt.figure(figsize=(10,10))
corr = df2.corr()
ax = sns.heatmap(
    df2,
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True,
    annot=True, annot_kws={"size":10}
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right')
plt.show()

In [ ]:
# Focusing on a few variables

plt.figure(figsize = (20,20))
plt.subplot(221)
sns.boxplot(data=df, y="time_in_hospital")
plt.subplot(222)
sns.boxplot(data=df, y="lab_procedures")
plt.subplot(223)
sns.boxplot(data=df, y="procedures")
plt.subplot(224)
sns.boxplot(data=df, y="num_medications")

In [ ]:
# Focusing on a few variables

plt.figure(figsize = (20,20))
plt.subplot(221)
sns.boxplot(data=df, x='age', y="time_in_hospital")
plt.subplot(222)
sns.boxplot(data=df, x='age', y="lab_procedures")
plt.subplot(223)
sns.boxplot(data=df, x='age', y="procedures")
plt.subplot(224)
sns.boxplot(data=df, x='age', y="num_medications")

### Removing outliers

In [10]:
#outliers
dfoutliers = df[(df['num_medications']>70)]
dfoutliers.shape
#filtering outliers out
#df_movie = df_movie[(df_movie['minute']>43) & (df_movie['minute']<158)]

(8, 33)

# Exercise - 30 minutes

### See Beer Notebook - Part 1