<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Merge" data-toc-modified-id="Merge-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Merge</a></span><ul class="toc-item"><li><span><a href="#Making-the-'table'-wider-(i.e.,-adding-columns-from.-a-second-source)" data-toc-modified-id="Making-the-'table'-wider-(i.e.,-adding-columns-from.-a-second-source)-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Making the 'table' wider (i.e., adding columns from. a second source)</a></span><ul class="toc-item"><li><span><a href="#Basic-merge---uses-the-index" data-toc-modified-id="Basic-merge---uses-the-index-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Basic merge - uses the index</a></span></li><li><span><a href="#Specifying-columns-to-use-for-the-merge" data-toc-modified-id="Specifying-columns-to-use-for-the-merge-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Specifying columns to use for the merge</a></span></li><li><span><a href="#Column-names-not-the-same" data-toc-modified-id="Column-names-not-the-same-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Column names not the same</a></span></li><li><span><a href="#Outer,-Left-&amp;-Right-join" data-toc-modified-id="Outer,-Left-&amp;-Right-join-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Outer, Left &amp; Right join</a></span></li></ul></li></ul></li><li><span><a href="#Same-code-using-.join" data-toc-modified-id="Same-code-using-.join-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Same code using .join</a></span><ul class="toc-item"><li><span><a href="#Append-(aka-union)" data-toc-modified-id="Append-(aka-union)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Append (aka union)</a></span></li><li><span><a href="#Concatenate" data-toc-modified-id="Concatenate-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Concatenate</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Concat-can-work-along-either-axis" data-toc-modified-id="Concat-can-work-along-either-axis-2.2.0.1"><span class="toc-item-num">2.2.0.1&nbsp;&nbsp;</span>Concat can work along either axis</a></span></li></ul></li></ul></li></ul></li></ul></div>

<div style="page-break-after: always; break-after: page;"></div>

In [ ]:
import pandas as pd

# Merge

## Making the 'table' wider (i.e., adding columns from. a second source)

- merge() for combining data on common columns or indices
- .join() for combining data on a key column or an index (uses merge internally, faster because index is used)
- concat() for combining DataFrames across rows or columns

More info: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#brief-primer-on-merge-methods-relational-algebra

In [ ]:
df1 = {
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df2 = {
    'location':['bolton','berlin','boyleston','charlton'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d1 = pd.DataFrame(df1)
d2 = pd.DataFrame(df2)
print(d1)
print(' ')
print(d2)

### Basic merge - uses the index

In [ ]:

pd.merge(d1,d2,how = 'inner')  # Inner, outer, left, right
# When not being explicit, the merge is based on the index for each dataframe.

### Specifying columns to use for the merge

In [ ]:
df3 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df4 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d3 = pd.DataFrame(df3)
d4 = pd.DataFrame(df4)

In [ ]:
multi = pd.merge(d3,d4, how = 'inner', on = ['state','location'])
multi

### Column names not the same

In [ ]:
df5 = {
    'state':['MA','MA','VT','VT'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df6 = {
    'states':['MA','MA','VT','VT'],
    'loc':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d5 = pd.DataFrame(df5)
d6 = pd.DataFrame(df6)

In [ ]:
# Use left_on, right_on instead of on.

pd.merge(d5, d6, left_on = ['state','location'], right_on = ['states','loc'])

# Would it be better or easier to just rename the columns?

### Outer, Left & Right join

In [ ]:
# Data for d7 and d8 does not 'line up' cleanly

df7 = {
    'state':['MA','MA','VT','NH'],
    'location':['bolton','berlin','boyleston','berlin'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df8 = {
    'state':['MA','MA','VT','ME'],
    'location':['bolton','berlin','boyleston','berlin'],
    'blueberries': [3, 2, 0, 1], 
    'strawberries': [0, 3, 7, 2]
}

d7 = pd.DataFrame(df7)
d8 = pd.DataFrame(df8)

In [ ]:
# Outer join
outer = pd.merge(d7,d8, how = 'outer', on = ['state','location'])
outer

In [ ]:
# Left join
left = pd.merge(d7,d8, how = 'left', on = ['state','location'])
left

# Notice the Nan values

In [ ]:
# Right join
right = pd.merge(d7,d8, how = 'right', on = ['state','location'])
right

# Same code using .join

In [ ]:
# basic syntax - first_dataframe.join(to second dataframe)
d1.join(d2, lsuffix = '_1')

# d1.join(d2, lsuffix = '_1', rsuffix = '_2')


# If you want to use join() and want to merge the columns, you must set them to be indexes first. 

d1.join(d2.set_index('location'), on='location', lsuffix = '_1', rsuffix = '_2')


d3.join(d4.set_index(['state','location']), on=['state','location'], lsuffix='_3')

In [ ]:
# Outer join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'outer')

In [ ]:
# Left join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'left')

In [ ]:
# Right join

d7.join(d8.set_index(['state','location']), on=['state','location'], lsuffix='_3',how= 'right')

## Append (aka union)

Stack datasets on top of one another

In [ ]:
df9 = {
    'month':['Oct','Oct','Oct','Oct'],
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

df10 = {
    'month':['Nov','Nov','Nov','Nov'],
    'location':['bolton','berlin','boyleston','charlton'],
    'apples': [3, 2, 0, 1], 
    'pears': [0, 3, 7, 2]
}

d9 = pd.DataFrame(df9)
d10 = pd.DataFrame(df10)

In [ ]:
d9.append(d10)

## Concatenate

With concatenation, your datasets are just stitched together along an axis — either the row axis or column axis

In [ ]:
pd.concat([d9,d10])  # Need to pass in a *list* of dataframes

#### Concat can work along either axis

In [ ]:
pd.concat([d9,d10], axis = 1)

In [ ]:
pd.concat([d7,d8], axis = 1)  # Be careful! (Look at Berlin output NH & ME)

In [ ]:
pd.concat([d7,d8], join = 'inner', axis =1)