<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [8]:
import pandas as pd
x = pd.read_table('/Users/jimcody/Documents/2021Python/nlp/data/Health-Tweets/bbchealth.txt', 
                  delimiter = '|',
                  header = None)
x.head()

,0,1,2
0,585978391360221184,Thu Apr 09 01:31:50 +0000 2015,Breast cancer risk test devised http://bbc.in/...
1,585947808772960257,Wed Apr 08 23:30:18 +0000 2015,GP workload harming care - BMA poll http://bbc...
2,585947807816650752,Wed Apr 08 23:30:18 +0000 2015,Short people's 'heart risk greater' http://bbc...
3,585866060991078401,Wed Apr 08 18:05:28 +0000 2015,New approach against HIV 'promising' http://bb...
4,585794106170839041,Wed Apr 08 13:19:33 +0000 2015,Coalition 'undermined NHS' - doctors http://bb...

In [10]:
x.shape

(3929, 3)

In [9]:
import os
# find all the txt files in the dataset folder
inputs = []
for file in os.listdir('/Users/jimcody/Documents/2021Python/nlp/data/Health-Tweets'):
    if file.endswith(".txt"):
        inputs.append(os.path.join('/Users/jimcody/Documents/2021Python/nlp/data/Health-Tweets', file))
 
 
# concatanate all txt files in a file called merged_file.txt
with open('merged_file.txt', 'w') as outfile:
    for fname in inputs:
        with open(fname, encoding="utf-8", errors='ignore') as infile:
            outfile.write(infile.read())

In [11]:
import pandas as pd

with  open('merged_file.txt','r') as file:
    print(file.read())
          
y = pd.read_table('merged_file.txt',  header=None, index_col=None, names = ['aaa'])
y.head()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

                                                 aaa
0  586266687948881921|Thu Apr 09 20:37:25 +0000 2...
1  586266687017771008|Thu Apr 09 20:37:25 +0000 2...
2  586266685495214080|Thu Apr 09 20:37:24 +0000 2...
3  586226316820623360|Thu Apr 09 17:57:00 +0000 2...
4  586164344452354048|Thu Apr 09 13:50:44 +0000 2...

In [12]:
y.shape

(63324, 1)

In [13]:
y.columns

Index(['aaa'], dtype='object')

In [14]:
# new data frame with split value columns

y = y['aaa'].str.split("|", expand = True)
  
# df display
y

,0,1,2,3,4
0,586266687948881921,Thu Apr 09 20:37:25 +0000 2015,Drugs need careful monitoring for expiry dates...,None,None
1,586266687017771008,Thu Apr 09 20:37:25 +0000 2015,Sabra hummus recalled in U.S. http://www.cbc.c...,None,None
2,586266685495214080,Thu Apr 09 20:37:24 +0000 2015,U.S. sperm bank sued by Canadian couple didn't...,None,None
3,586226316820623360,Thu Apr 09 17:57:00 +0000 2015,Manitoba pharmacists want clampdown on Tylenol...,None,None
4,586164344452354048,Thu Apr 09 13:50:44 +0000 2015,Mom of 7 'spooked' by vaccinations reverses st...,None,None
...,...,...,...,...,...
63319,106106376224378880,Tue Aug 23 20:51:46 +0000 2011,Mainstay Meds Often Cut Off Accidentally After...,None,None
63320,106106374735400960,Tue Aug 23 20:51:45 +0000 2011,Injectable Psoriasis Drugs May Not Hike Heart ...,None,None
63321,106106373275787264,Tue Aug 23 20:51:45 +0000 2011,Certain Foods Said to Help Lower Bad Cholester...,None,None
63322,106106371736485889,Tue Aug 23 20:51:45 +0000 2011,Boys Mature Sexually Earlier Than Ever Before:...,None,None
63323,106073015590203393,Tue Aug 23 18:39:12 +0000 2011,"Mental Illness Affects Women, Men Differently,...",None,None

In [15]:
z = y.iloc[:,2]
z

0        Drugs need careful monitoring for expiry dates...
1        Sabra hummus recalled in U.S. http://www.cbc.c...
2        U.S. sperm bank sued by Canadian couple didn't...
3        Manitoba pharmacists want clampdown on Tylenol...
4        Mom of 7 'spooked' by vaccinations reverses st...
                               ...
63319    Mainstay Meds Often Cut Off Accidentally After...
63320    Injectable Psoriasis Drugs May Not Hike Heart ...
63321    Certain Foods Said to Help Lower Bad Cholester...
63322    Boys Mature Sexually Earlier Than Ever Before:...
63323    Mental Illness Affects Women, Men Differently,...
Name: 2, Length: 63324, dtype: object

In [16]:
z.shape

(63324,)