<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exercise 1</a></span></li></ul></div>

# Exercise 1

- read in the abalone data from github: https://raw.githubusercontent.com/jimcody2014/cdc_stats/main/data/abalone.csv
- identify any missing data
- replace missing values with the mean of the column
- create a pairplot showing all of the numeric columns (use seaborn), color by sex
- create a pairplot showing just the weight columns (use seaborn), color by sex
- create a scatterplot showingthe relationship of weight-whole to rings
- determine the mean of each numeric column after the data has grouped by sex

In [ ]:
import pandas as pd
import seaborn as sns

In [51]:
df = pd.read_csv('/Users/jimcody/Documents/2021Python/statistics/data/abalone.csv')
df.head()

,sex,length(mm),diameter(mm),height(mm),weight-whole,weight-shucked,weight-viscera,weight-shell,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,NaN,NaN,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [52]:
df.isnull().sum()

sex               0
length(mm)        1
diameter(mm)      1
height(mm)        0
weight-whole      0
weight-shucked    0
weight-viscera    0
weight-shell      0
rings             0
dtype: int64

In [53]:
# check for null values

df_null = df.isna().mean().round(4) * 100

df_null.sort_values(ascending=False).head()

length(mm)      0.02
diameter(mm)    0.02
sex             0.00
height(mm)      0.00
weight-whole    0.00
dtype: float64

In [54]:
df['length(mm)'].fillna((df['length(mm)'].mean()), inplace=True)
df['diameter(mm)'].fillna((df['diameter(mm)'].mean()), inplace=True)

In [ ]:
df.head()

In [ ]:
sns.pairplot(data = df, hue = 'sex')

In [ ]:
sns.pairplot(data = df, vars = ['weight-whole', 'weight-shell','weight-viscera','weight-shucked'], hue = 'sex')

In [ ]:
sns.scatterplot(data = df, x='weight-whole', y='rings', hue='sex' )

In [55]:
df.groupby('sex').mean()

,length(mm),diameter(mm),height(mm),weight-whole,weight-shucked,weight-viscera,weight-shell,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561505,0.439380,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497